<footer class="footer">
  <div class="zurb-footer-top">
        <div class="row">
          <div class="large-3 small-6 columns">
            <h5>Newsletter</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel vehicula sem. Integer iaculis risus nulla, quis tristique diam rhoncus sed. </p>
          </div>
          <div class="large-3 small-6 columns">
            <h5>Newsletter</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel vehicula sem. Integer iaculis risus nulla, quis tristique diam rhoncus sed. </p>
          </div>
          <div class="large-3 small-6 columns">
            <h5>More</h5>
            <nav>
              <ul class="side-nav">
                <li><%= link_to "About",   about_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
                <li><a href="http://news.railstutorial.org/">News</a></li>
              </ul>
            </nav>
          </div>
          <div class="large-3 small-6 columns">
            <h5>Newsletter</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel vehicula sem. Integer iaculis risus nulla, quis tristique diam rhoncus sed. </p>
          </div>
        </div>
      </div><!--.zurb-footer-top ends-->

      <div class="zurb-footer-bottom">
        <div class="row">
          <div class="large-8 large-push-4 columns">
            2014 Chammo. All rights reserved.
          </div>

          <div class="large-4 large-pull-8 columns">
            Designed and Developed by Lydia Kwag
            
          </div>

        </div>
      </div><!--zurb-footer-bottom ends-->

      


  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  
</footer>