<div class="sidebar">
              <h5>Sidebar</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel vehicula sem. Integer iaculis risus nulla, quis tristique diam rhoncus sed. Pellentesque tincidunt metus eget ligula elementum laoreet. Ut quis vulputate arcu, ut euismod neque. Ut luctus purus ac est hendrerit, a lobortis orci scelerisque. In lorem dui, congue lacinia felis ut, viverra blandit elit. Nullam ornare risus eget tellus blandit vehicula.</p>
              <nav></nav>
            </div>